#top-bg {
    background-image: url(../assets/background-images/Background_Intro.png);
    background-size:100%;
    padding-block: 120px;
}

header header {
    flex-direction: column;
    gap: 56px;
}

#info {
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: center;

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    gap: 80px;
}

#picture {
    margin: auto;
    position: relative;
    display: flex;

}

#picture > :nth-child(1) {
    width: 96px;
    height: 96px;
    object-fit: cover;
    align-self: center;
    margin: 8px;
    border: 2px solid var(--red);
    padding: 4px;
    border-radius: 50%;
    position: relative;
}

#iconprog {
    position: absolute;
    bottom: 15px;
    right: 1px;
    width: 32px;
}

#bio {
    flex-direction: column;
    justify-content: center;
    max-width: 680px;
    margin: auto;
    gap: 8px;
    
    h1 {
        font: var(--title-lg);
        color: var(--gray-600);
        justify-content: center;
        text-align: center;
    }

    h2 {
        font: var(--subtitle);
        color: var(--gray-500);
        span {
            color: var(--red);
        }
        text-align: center;
    }
    
    h3 {
        font: var(--text-sm);
        color: var(--gray-400);
        margin-top: 12px;
        text-align: center;
    }
}

ul {
    place-content: center;
    display: flex;
    text-decoration: none;
    gap: 8px;
    margin-bottom: 63px;

    li {
        padding: 8px 16px;
        background-color: var(--gray-300);
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 999px;
    }
    
}